<html> 
  <head>
    <link rel="icon" href="/public/favicon.png" type="image/png" /> 
    <title>Canvas Example (NodeJS)</title>
  </head>
  <body>
    <h1>Voxa Salesforce App BITCHES!</h1>
    <hr/>
    <% if(typeof canvasDetails !== 'undefined' && typeof canvasDetails.context !== 'undefined'){ %>
      
      
      <iframe style="overflow:auto; height: 100%; width:100%;" src="https://blooming-basin-7511.herokuapp.com/"></iframe>
      <p>May I present to you the information you've requested:</p>
      <pre style="overflow:auto; height: 100%;">
      <p><%=JSON.stringify(canvasDetails.context.environment.record.attributes.type, undefined, 2)%>
      



    <% }else{ %>
      <h3>You are not logged inside a Force.com Canvas</h3>
    <% }%>
  </body>
</html>